version: '3.8'

services:
  backend:
    build: 
      context: ./Back
    container_name: webapp-backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DB_SECRET=LaMiaStringaSegretaSuperSicura
    volumes:
      - sqlite_data:/usr/src/app/database
    restart: unless-stopped

  frontend:
    build: 
      context: ./Front/Front-app
    container_name: webapp-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  sqlite_data: